extends layout

block content  
  main.inner.cover(role="main")
    h1.cover-heading Hi!                
    p.lead My name is Jonathan Sum.
      br 
      p.lead Email: 777JonathanSum@gmail.com
      p.lead Github: https://github.com/JonathanSum
      p.lead Linkedin: https://www.linkedin.com/in/jonathan-sum-a341b8133/        
    p.lead
      a.btn.btn-lg.btn-secondary(href="#") Learn more
